body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

.rowFlex {
    display: flex;
    flex-direction: row;
}

/*
.tile {
    border: 1px solid #999;
    background: #fff;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
}
*/

[class="tile"]:hover {
    font-size: 26px;
    border: 5px ridge black;

}

.red {
    background: red;
}
.blue {
    background: blue;
}
.dark {
    background-image: url("./images/rip.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: white;
}
.grey {
    background: grey;
}

.columnFlex {
    margin-left: 20px;
}

.columnFlex *:not(:first-child) {
    margin-top: 10px;
}

.wordInputWrapper {
    margin-top: 20px;
}

.columnFlex .wordInputWrapper textarea {
    margin-top: 5px;
}


/*
.container {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr)); 
  grid-gap: 10px;
}

.container > * {
  aspect-ratio: 1 / 1;
  border: 1px solid;
  
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


*/


.square {
    float:left;
    position: relative;
    width: 18%;
    padding-bottom : 18%; /* = width for a 1:1 aspect ratio */
    margin:1%;
    background-color:#1E1E1E;
    overflow:hidden;
}

.content {
    position:absolute;
    height:90%; /* = 100% - 2*5% padding */
    width:90%; /* = 100% - 2*5% padding */
    padding: 5%;
    text-align: center;
    
}
.table{
    display:table;
    width:100%;
    height:100%;
}
.tile {
    display:table-cell;
    vertical-align:middle;
}
