body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

.rowFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

[class="tile"]:hover {
    font-size: 26px;
    border: 5px ridge black;

}

.tile.red {
    background: red;
}

.tile.blue {
    background: blue;
}

.tile.dark {
    background-image: url("./images/rip.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: white;
}

.tile.grey {
    background: grey;
}

.columnFlex {
    margin-left: 20px;
}

.columnFlex *:not(:first-child) {
    margin-top: 10px;
}

.wordInputWrapper {
    margin-top: 20px;
}

.columnFlex .wordInputWrapper textarea {
    margin-top: 5px;
}

/*
 * wise ancestor magic 
 * https://stackoverflow.com/questions/20456694/grid-of-responsive-squares
 */
.square {
    float:left;
    position: relative;
    width: 19%;
    padding-bottom : 19%; /* = width for a 1:1 aspect ratio */
    margin:0%;
    overflow:hidden;
}

.content {
    position:absolute;
    height:100%; 
    width:100%; 
    padding: 0%;
    text-align: center;

}
.table{
    display:table;
    width:100%;
    height:100%;
}

.tile {
    border: 1px solid #999;
    background: #fff;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    text-align: center;
    display:table-cell;
    vertical-align:middle;
    overflow-wrap: break-word;
    word-break: break-all;
}


@media screen and (max-width: 479px) {
    .tile {
        font-size: 12px;
    }
}
