body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

.rowFlex {
    display: flex;
    flex-direction: row;
}

.tile {
    border: 1px solid #999;
    background: #fff;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    height: 140px;
    width: 140px;
}

.red {
    background: red;
}
.blue {
    background: blue;
}
.dark {
    background: lime;
}
.grey {
    background: grey;
}
